<div class="demo-page">
  <main style="margin-left: 150px;" class="demo-page-content">

    <form (ngSubmit)="createEvent()" #userForm="ngForm" id="login-form" class="user-form" autocomplete="off" role="main"
      autocomplete="off">
      <section>
        <div class="href-target" id="input-types"></div>
        <h1>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-align-justify">
            <line x1="21" y1="10" x2="3" y2="10" />
            <line x1="21" y1="6" x2="3" y2="6" />
            <line x1="21" y1="14" x2="3" y2="14" />
            <line x1="21" y1="18" x2="3" y2="18" />
          </svg>
          Event Information
        </h1>
        <div class="nice-form-group">
          <label for="eventname">Event Name <span style="color: #dd6666;">*</span></label>
          <input type="text" id="eventname" name="eventname" placeholder="Your evnet name"
            [(ngModel)]="this.eventName" />
        </div>
        <div class="nice-form-group">
          <label for="startDate" class="date-label">Start dateD <span style="color: #dd6666;">*</span></label>
          <input type="date" [(ngModel)]="this.dateTime" id="startDate" name="startDate" class="date-input"
            min="{{this.dateActuelle}}" max="2024-12-31">
        </div>
        <div class="nice-form-group">
          <label for="priceticket">Price Ticket <span style="color: #dd6666;">*</span></label>
          <input type="number" name="priceticket" placeholder="10dt" [(ngModel)]="this.ticketPrice" />
        </div>

        <div class="nice-form-group">
          <label for="capacity">capacity <span style="color: #dd6666;">*</span></label>
          <input type="number" name="capacity" placeholder="20" [(ngModel)]="this.capacity" />
        </div>
        <div class="nice-form-group">
          <label for="poster">Event Poster <span style="color: #dd6666;">* </span>
            <br>
            <br>
            <a href="https://www.appypie.com/design/poster/maker" target="_blank">Create your Poster with Appypie</a>
          </label>
          <input type="file" name="poster" (change)="onSelectFile($event)" placeholder="URL here" />
        </div>

        <div class="nice-form-group">
          <label for="description">description </label>
          <textarea rows="5" name="description" placeholder="Your event description"
            [(ngModel)]="this.description"></textarea>
        </div>

        <div class="nice-form-group">
          <label for="contactInformation"> Contact <span style="color: #dd6666;">*</span></label>
          <input type="text" rows="5" name="contactInformation"
            placeholder="Your Contact Information Here exemple@gmail.com"
            [(ngModel)]="this.contactInformation">
        </div>
        <details>
          <summary>
            <input class="submit" type="submit" value="Create" />
          </summary>
        </details>
      </section>
    </form>
  </main>
</div>