<body>
  <div class="container">
      <div class="content">
          <div class="text">
              <h1>Welcome To Eventi</h1>
              <h2>
                  Eventi aims to meet the needs of the local community by providing a centralized platform for managing community events. This platform will allow organizers to create and promote events while facilitating the participation of community members.
              </h2>
              <div class="btn btn-primary" (click)="gotocreate()">CREATE EVENT</div>
          </div>
          <div class="video">
              <video width="640" height="360" controls>
                  <source src="assets/img/vd.mp4" type="video/mp4">
              </video>
          </div>
      </div>
  </div>
</body>
