<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css /> -->

<body>
    <div class="container">
        <h1>Conférences </h1>
        <div class="row">

            <div class="col-md-4 col-sm-6">
                <div class="box">

                    <img src="assets/img/Conférences-professionnelles.jpg">
                    <div class="box-content">
                        <h3 class="title">Conférences de Presse</h3>
                        <span class="post">Conférences</span>
                    </div>
                    <ul class="icon">
                        <li><a (click)="gotolocation(1)"> <i class="fa fa-check"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="box">
                    <img src="assets/img/Séminaires2.jpg">
                    <div class="box-content">
                        <h3 class="title">Séminaires éducatifs</h3>
                        <span class="post">Séminaires</span>
                    </div>
                    <ul class="icon">
                        <li><a (click)="gotolocation(1)"><i class="fa fa-check"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="box">
                    <img style="height: 227px;" src="assets/img/assemblée-générale-image1.jpg">
                    <div class="box-content">
                        <h3 class="title">Assemblée générale </h3>
                        <span class="post">assemblée</span>
                    </div>
                    <ul class="icon">
                        <li><a (click)="gotolocation(1)"><i class="fa fa-check"></i></a></li>
                    </ul>
                </div>
            </div>

        </div>
        <h1>Evénements Artistiques </h1>

        <div class="row">

            <div class="col-md-4 col-sm-6">
                <div class="box">
                    <img style="height: 227px;" src="assets/img/Festivals-Musique.png">
                    <div class="box-content">
                        <h3 class="title">Festivals de Musique</h3>
                        <span class="post">Festivals</span>
                    </div>
                    <ul class="icon">
                        <li><a (click)="gotolocation(2)" ><i class="fa fa-check"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="box">
                    <img style="height: 227px;" src="assets/img/piéce de théâtre tunisien.jpg">
                    <div class="box-content">
                        <h3 class="title">Piéce De Théâtre </h3>
                        <span class="post">Spectacle</span>
                    </div>
                    <ul class="icon">
                        <li><a (click)="gotolocation(2)"><i class="fa fa-check"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="box">
                    <img style="height: 227px;" src="assets/img/dance.jpg">
                    <div class="box-content">
                        <h3 class="title">Performances de Danse </h3>
                        <span class="post">Spectacle</span>
                    </div>
                    <ul class="icon">
                        <li><a (click)="gotolocation(2)"><i class="fa fa-check"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="box">
                    <img style="height: 227px;" src="assets/img/Expositions-d'Art-Visuel.jpg">
                    <div class="box-content">
                        <h3 class="title">Expositions d'Art Visuel </h3>
                        <span class="post">Expositions</span>
                    </div>
                    <ul class="icon">
                        <li><a  (click)="gotolocation(2)"><i class="fa fa-check"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="box">
                    <img style="height: 227px;" src="assets/img/film.jpg">
                    <div class="box-content">
                        <h3 class="title">Projection de Films</h3>
                        <span class="post">Projection</span>
                    </div>
                    <ul class="icon">
                        <li><a (click)="gotolocation(2)" ><i class="fa fa-check"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <h1>Evénements Sportif </h1>

        <div class="row">

            <div class="col-md-4 col-sm-6">
                <div class="box">
                    <img style="height: 227px;" src="assets/img/fitness.jpg">
                    <div class="box-content">
                        <h3 class="title">Evénements de Fitness en Groupe</h3>
                        <span class="post">Sport</span>
                    </div>
                    <ul class="icon">
                        <li><a  (click)="gotolocation(3)"><i class="fa fa-check"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="box">
                    <img style="height: 227px;" src="assets/img/yoga.jpg">
                    <div class="box-content">
                        <h3 class="title">Evénements de Yoga ou de Pilates </h3>
                        <span class="post">Yoga</span>
                    </div>
                    <ul class="icon">
                        <li><a  (click)="gotolocation(3)"><i class="fa fa-check"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="box">
                    <img style="height: 227px;" src="assets/img/box.jpg">
                    <div class="box-content">
                        <h3 class="title">Evénements de Boxe ou de Kickboxing</h3>
                        <span class="post">Kickboxing</span>
                    </div>
                    <ul class="icon">
                        <li><a  (click)="gotolocation(3)" ><i class="fa fa-check"></i></a></li>
                    </ul>
                </div>
            </div>


        </div>
    </div>

</body>
