<body>
    <select name="chapter" required (change)="gotomoreinforamtion()" [(ngModel)]="this.locationInput">
        <option selected hidden value=""><span>🗺️</span><span style="margin-left: 20px;">Location</span></option>
        <option style="border-radius: 5px;" value="California GYM BARDO">California GYM BARDO</option>
        <option style="border-radius: 5px;" value="RED SQUARE BARDO">RED SQUARE BARDO</option>
        <option style="border-radius: 5px;" value="4FIT">4FIT</option>
        <option style="border-radius: 5px;" value="My Gym bardo">My Gym bardo</option>

      </select>

</body>
<div class="full" id="map">

          </div>
