<body>
    <select name="chapter" required (change)="gotomoreinforamtion()" [(ngModel)]="this.locationInput">
        <option selected hidden value="" sty><span>🗺️</span><span style="margin-left: 20px;">Location</span>
        </option>
        <option style="border-radius: 5px;" value="Palais des Congrès - قصر المؤتمرات">Palais des Congrès - قصر المؤتمرات</option>
       <option  style="border-radius: 5px;" value="CICT CENTRE INTERNATIONAL DES CONGRES DE TUNIS L’UTICA">CICT CENTRE INTERNATIONAL DES CONGRES DE TUNIS L’UTICA</option>
       <option  style="border-radius: 5px;" value="Salle des Conférences, Technopôle Manouba">Salle des Conférences, Technopôle Manouba</option>
       <option style="border-radius: 5px;" value="Salle des Séminaires">Salle des Séminaires
    </option>

      </select>

</body>
<div class="full" id="map">

</div>
